# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a



#######################################################
### Ignores everything in the VisualStudio solution ###
### Unless it is a a *.cpp file                     ###
#######################################################
EdgeDetection/*
!EdgeDetection/*.cpp
