# Ignore images too!
*.png

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a



#######################################################
### Ignores everything in the VisualStudio solution ###
### Unless it is a a *.cpp file                     ###
#######################################################
#EdgeDetection/*
#!*.cpp
#!*.h
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.exe
*.tlog
*.obj
*.aps
*.pdb
*.lastbuildstate
*.unsuccessfulbuild
*.idb
*.log
*.ilk
*.ppm
*.rgb
*.vcxproj.user
*.psess
*.vspx
