# Ignore images too!
# Computer broke, fast way to get all images back in my orbit
#*.png 
#*.ppm
#*.rgb

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a



#######################################################
### Ignores everything in the VisualStudio solution ###
### Unless it is a a *.cpp file                     ###
#######################################################
#EdgeDetection/*
#!*.cpp
#!*.h
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.exe
*.tlog
*.obj
*.aps
*.pdb
*.lastbuildstate
*.unsuccessfulbuild
*.idb
*.log
*.ilk
*.vcxproj.user
*.psess
*.vspx
